img {
    width: 30px;
}

body {
    background: #1C1C6E;
    color: white;
    font-size: 20px;
}

td {
    border-bottom: 2px solid #8E8ED8;
    padding-top: 1px;
}

.header td {
    background-color: white;
    color: #1C1C6E;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 17px;
}

.image {
    background-color: white;
    text-align: center;
    padding-top: 2px;
}

.key {
    padding-left: 8px;
}

.flight {
    text-align: center;
}
